<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../history.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("./header.ejs")%>
    <div class="topic">
      <div class="hr"></div>
      <p class="today">Trophy</p>
    </div>
    <div class="trophy"></div>
    <div class="topic">
      <div class="hr"></div>
      <p class="today">Remembrance</p>
    </div>
    <section class="tabsection">
      <div class="inner">
        <div class="imgbox"></div>
        <div class="tabbox">
          <p>뮌헨 비행기 참사</p>
          <div class="tab">
            <div class="tabtitle">
              <div class="on" data-tab="0">About Us</div>
            </div>
            <div class="tabcontent">
              <div>
                The term "뮌헨" is translated to English as "vintage." This term
                refers to classic styles, designs, and items associated with a
                specific era or period. Vintage items carry the charm and uniqu
              </div>
            </div>
          </div>

          <div class="btnbox">
            <a href="#" class="btn">Get In Touch</a>
            <a href="#" class="btn2">Read More</a>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer_container">
        <div class="footer_apps">
          <div class="footer_appdown">SNS</div>
          <div class="footer_appbtn flex">
            <a href="https://www.instagram.com/manchesterunited/">
              <button>인스타그램</button>
            </a>
            <a href="https://pf.kakao.com/_EhMCM">
              <button>카카오톡</button>
            </a>
          </div>
        </div>

        <section class="footer_info">
          <div>
            <strong>대표</strong> 양재훈 <strong>사업자번호</strong>112-119-117
          </div>
          <div>
            <strong>직업정보제공사업 신고번호</strong> 2023-서울강남-1234
          </div>
          <div><strong>주소</strong> 서울시 강남구 서초동 HPE교육센터</div>
          <div>
            <strong>전화</strong> 1577-1577
            <strong>고객문의</strong>fuckingthat@real.com
          </div>
          <p>
            <strong>이용약관</strong>&nbsp;&nbsp;
            <strong>개인정보처리방침</strong>&nbsp;&nbsp;
            <strong>위치기반서비스 이용약관</strong>&nbsp;&nbsp;
            <strong>이용자보호 비전과 계획</strong>&nbsp;&nbsp;
          </p>
        </section>
      </div>
    </footer>
  </body>
</html>
