<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../public/news.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <p class="banner" button onclick="location.href='museum.html'">Reds.KR</p>
      <div class="menu">
        <ul id="exhibition" data-tab="0">
          News
        </ul>
        <div class="menu-bar" id="menu-bar-exhibition">
          <li button onclick="location.href='exhibition.html'">Present</li>
          <li button onclick="location.href='exhibitionpast.html'">Past</li>
        </div>

        <ul id="education" data-tab="1">
          Player
        </ul>
        <div class="menu-bar" id="menu-bar-education">
          <li button onclick="location.href='introduction.html'">
            Introduction
          </li>
          <li button onclick="location.href='child.html'">Children</li>
          <li button onclick="location.href='participation.html'">
            Participation
          </li>
        </div>
        <ul id="collection" data-tab="2">
          Community
        </ul>
        <div class="menu-bar" id="menu-bar-collection">
          <li button onclick="location.href='collection.html'">View</li>
          <li button onclick="location.href='method.html'">Method</li>
        </div>
        <ul id="digital-art" data-tab="3">
          History
        </ul>
        <div class="menu-bar" id="menu-bar-digital-art">
          <li button onclick="location.href='digital.html'">Main</li>
          <li button onclick="location.href='gallery.html'">Gallery</li>
        </div>
      </div>

      <div class="login">
        <p>Visit</p>
        <p button onclick="location.href='login.html'">Login</p>
      </div>
    </header>
    <div class="all">
      <div class="sidemenu">
        <div class="side1"></div>
        <div class="side2"></div>
        <div class="side3"></div>
      </div>

      <div class="newsbanner">
        <div class="topic">
          <div class="hr"></div>
          <p class="today">Award of the Month</p>
        </div>
        <div class="main">
          <div class="main1"></div>
          <div class="main2"></div>
        </div>
      </div>
    </div>
    <div class="mini">
      <div class="topic1">
        <div class="hr"></div>
        <p class="today">Today News</p>
      </div>
      <div class="mini12">
        <div class="mini1">
          <div class="mini1_news"></div>
          <div class="mini1_p">
            <div class="hr"></div>
            <p class="mini1_p1">
              ‘사실상 시즌 아웃’ 맨유 유리 몸 루크 쇼, 또다시 근육 부상으로 몇
              달간 결장
            </p>
            <p class="mini1_p2">
              쇼는 빌라전에서 전반만 소화한 채 후반 시작과 함께 교체돼 경기를
              마쳤다. 이후 이어진 루턴전에서 선발 출전했지만 경기를 더이상 뛰지
              못하게 되면서 전반 추가시간 교체돼 경기장을 빠져나갔다.
            </p>
            <p class="mini1_p3">더보기 》</p>
          </div>
        </div>
        <div class="mini2">
          <div class="mini2_news"></div>
          <div class="mini1_p">
            <div class="hr"></div>
            <p class="mini1_p1">
              '8개월간 무적' 아직 아쉬운 린가드, 맨유 시절 모습 보여줄까<br />
            </p>
            <p class="mini1_p2">
              린가드의 홈 데뷔전이 될 수 있는 만큼 많은 관심을 모은 경기였다.
              린가드는 잉글랜드 명문 맨체스터 유나이티드 출신으로 K리그 역대
              최고 경력의 외국인 선수로 꼽힌다.<br /><br />
            </p>
            <p class="mini1_p3">더보기 》</p>
          </div>
        </div>
      </div>
      <div class="mini34">
        <div class="mini3">
          <div class="mini3_news"></div>
          <div class="mini1_p">
            <div class="hr"></div>
            <p class="mini1_p1">
              루니-칸토나-호날두 넘었다... 주장감 아니라던 브루노, 맨유 역대 PK
              득점 1위
            </p>
            <p class="mini1_p2">
              페르난데스는 이번 에버턴전 페널티킥 득점으로 역사를 썼다. 맨유
              역대 PK 득점 1위에 오르게 됐다. 맨유는 9일 구단 홈페이지를 통해
              “페르난데스는 에버턴을 상대로 침착한 선제골을 터뜨리며 맨유의 2-0
              승리를 이끌었다.
            </p>
            <p class="mini1_p3">더보기 》</p>
          </div>
        </div>
        <div class="mini4">
          <div class="mini4_news"></div>
          <div class="mini1_p">
            <div class="hr"></div>
            <p class="mini1_p1">
              맨유 선수들, 올 여름 텐 하흐 경질 → 새 감독 선임 예상<br />
            </p>
            <p class="mini1_p2">
              맨유는 텐하흐 감독 부임 첫 해 챔피언스리그 복귀에 성공했다. 하지만
              이번 시즌 리그 27라운드를 마친 현재 4위 애스턴 빌라(승점 55)에
              승점 11 뒤진 6위에 머물고 있어, 다음 시즌 챔피언스리그 출전을
              장담할 수 없다.
            </p>
            <p class="mini1_p3">더보기 》</p>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer_container">
        <div class="footer_apps">
          <div class="footer_appdown">SNS</div>
          <div class="footer_appbtn flex">
            <button>인스타그램</button>
            <button>카카오톡</button>
          </div>
        </div>

        <section class="footer_info">
          <div>
            <strong>대표</strong> 양재훈 <strong>사업자번호</strong>112-119-117
          </div>
          <div>
            <strong>직업정보제공사업 신고번호</strong> 2023-서울강남-1234
          </div>
          <div><strong>주소</strong> 서울시 강남구 서초동 HPE교육센터</div>
          <div>
            <strong>전화</strong> 1577-1577
            <strong>고객문의</strong>fuckingthat@real.com
          </div>
          <p>
            <strong>이용약관</strong>&nbsp;&nbsp;
            <strong>개인정보처리방침</strong>&nbsp;&nbsp;
            <strong>위치기반서비스 이용약관</strong>&nbsp;&nbsp;
            <strong>이용자보호 비전과 계획</strong>&nbsp;&nbsp;
          </p>
        </section>
      </div>
    </footer>
  </body>
</html>
