@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
}
body {
  background-color: rgb(236, 239, 241);
}
header {
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  padding: 1rem;
  background: rgb(170, 0, 0);
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

header ul,
header p {
  cursor: pointer;
}
.menu {
  display: flex;
  gap: 60px;
  font-size: 2rem;
  position: relative;
}
.menu-bar {
  position: absolute;
  left: 0;
  width: 100%;
  background: rgb(170, 0, 0);
  padding: 15px;
  display: none;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.menu-bar.active {
  display: flex;
}

.menu-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; /* 바의 높이를 조절할 수 있습니다. */
  background: rgb(170, 0, 0);
}

.menu-bar p {
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.menu-bar li {
  display: block;
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
}

.menu-bar.active li {
  display: block;
}
header .banner,
header .menu,
header .login {
  color: rgb(255, 255, 255) !important; /* 투명하지 않은 흰색으로 설정 */
  opacity: 1; /* 글자만 투명하지 않도록 설정 */
}
li {
  cursor: pointer;
}
.banner {
  font-size: 2rem;
}
.menu ul {
  position: relative;
  border-bottom: 5px solid rgb(170, 0, 0);
  padding: 0px;
  transition: 0.5s;
}

.menu ul::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: "";
  display: inline-block;
  width: 0;
  height: 5px;
  background-color: darkkhaki;
}

.menu ul.on {
  color: darkkhaki;
}

.menu ul.on::after {
  width: 100%;
  transition: 1s;
}
.login {
  display: flex;
  gap: 30px;
  font-size: 1.5rem;
}
.topic {
  width: 80%;
  text-align: left;
  margin: 0 auto;
  padding-top: 50px;
}
.topic1 {
  width: 80%;
  text-align: left;
  padding-top: 50px;
  margin-bottom: 10px;
}
.hr {
  width: 80px;
  height: 3px;
  background-color: red;
}
.today {
  font-size: 2.5rem;
  font-weight: bold;
}
.main {
  width: 80%;
  height: 1000px;

  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
.main12 {
  display: flex;
  width: 100%;
  height: 48%;
  justify-content: space-between;
  margin-top: 10px;
}
.main1,
.main2 {
  background-color: rgb(255, 255, 255);
  width: 49%;
  height: 100%;
  border-radius: 15px;
  display: flex;
}
.main1_news,
.main1_p {
  width: 50%;
}
.main1_news {
  background-image: url(../루크쇼.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px 0 0 15px;
}
.main1_p {
  border-radius: 0 15px 15px 0;
  margin: 20px;
}
.main1_p .hr {
  margin-top: 30px;
}
.main1_p1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}
.main1_p2 {
  font-size: 1rem;
  margin-top: 50px;
}
.main1_p3 {
  font-size: 1rem;
  margin-top: 100px;
  float: right;
}
.main2_news,
.main2_p {
  width: 50%;
}
.main2_p {
  border-radius: 0 15px 15px 0;
  margin: 20px;
}
.main2_news {
  background-image: url(../호일룬.png);
  background-size: cover;
  background-position: center;
  border-radius: 15px 0 0 15px;
}
.main2_p .hr {
  margin-top: 30px;
}
.main2_p1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}
.main2_p2 {
  font-size: 1rem;
  margin-top: 50px;
}
.main2_p3 {
  font-size: 1rem;
  margin-top: 100px;
  float: right;
}
.main35 {
  display: flex;
  width: 100%;
  height: 600px;
  justify-content: space-between;
  flex-direction: column;
}
#slide1 {
  background-image: url(../맨유리버풀.png);
  background-size: cover;
  background-position: center;
}
#slide2 {
  display: flex;
}
#slide2 .slide2_img {
  width: 50%;
  height: 100%;
  background-image: url(../선수.png);
  background-size: cover;
  background-position: center;
}
.slide2_p {
  width: 50%;
  height: 100%;
  padding-top: 150px;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  background-color: black;
}
.main3,
.main4,
.main5 {
  background-color: beige;
  width: 33%;
  height: 100%;
  border-radius: 15px;
}
.middle1 {
  width: 50%;
  height: 230px;
  margin: 0 auto;
  background-color: rgb(185, 185, 185);
  margin-top: 140px;
  background-image: url(../쇼핑.png);
  background-size: cover;
  background-position: center;
}
.middle2 {
  width: 50%;
  height: 150px;
  margin: 0 auto;
  background-color: rgb(185, 185, 185);
  margin-top: 70px;
  background-image: url(../베컴.png);
  background-size: cover;
  background-position: 20% 10%;
}
.middle1 p {
  font-size: 3rem;
  text-align: center;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.tabsection {
  margin-top: 10px;
}

.tabsection > .inner {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding-left: 300px;
}

.tabbox {
  width: 48%;
}

.imgbox {
  width: 35%;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-image: url(../뮌헨.png);
}

.tabsection h3 {
  text-align: left;
}

.tabtitle {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.tabtitle div {
  position: relative;
  border-bottom: 5px solid #ddd;
  padding-right: 30px;
  transition: 0.5s;
  font-weight: bold;
  font-size: 2rem;
}

.tabtitle div::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: "";
  display: inline-block;
  width: 0;
  height: 5px;
  background-color: rgb(126, 32, 32);
}

.tabtitle div.on {
  color: rgb(126, 32, 32);
}

.tabtitle div.on::after {
  width: 100%;
  transition: 1s;
}

.tabcontent > div {
  display: none;
  font-size: 1.2rem;
}

.tabcontent > div:first-child {
  display: block;
}
.tabbox p {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 50px;
}

@media (max-width: 1000px) {
  .imgbox,
  .tabbox {
    width: 100%;
  }

  .tabtitle {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .tabtitle {
    font-size: 0.9rem;
  }

  .tabtitle div {
    padding-right: 15px;
  }
}
.btn {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  border: 2px solid rgb(126, 32, 32);
  background-color: rgb(126, 32, 32);
  margin-top: 10px;
  font-size: 1.5rem;
}

.btn2 {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  color: rgb(88, 88, 41);
  border: 2px solid rgb(88, 88, 41);
  margin-top: 10px;
  font-size: 1.5rem;
}
.btn3 {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  margin-top: 30px;
}
.container {
  width: 100%;
  height: 600px;
  margin-top: 10px;
}

.container .heroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 1500px;
  margin: 0 auto;
}

.container .heroes .hero {
  width: 200px;
  height: 200px;

  margin: 4px;
  border: 3px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;

  background-color: #555;

  transform: skewX(-14deg);
  transition: transform 0.1s, background-color 0.6s;
}

.container .heroes .hero:hover {
  transform: scale(1.3) skewX(-14deg);
  z-index: 1;
}

.container .heroes .hero .image {
  width: 140%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: -10px -10px;
  background-size: cover;

  transform: skewX(14deg) translateX(-16px);
}

.container .heroes .hero:nth-child(1) .image {
  background-image: url("../오나나.jpg");
}
.container .heroes .hero:nth-child(2) .image {
  background-image: url("../바인드로.webp");
}
.container .heroes .hero:nth-child(3) .image {
  background-image: url("../달로.jpg");
}
.container .heroes .hero:nth-child(4) .image {
  background-image: url("../비사카.jpg");
}
.container .heroes .hero:nth-child(5) .image {
  background-image: url("../리산마.jpg");
}
.container .heroes .hero:nth-child(6) .image {
  background-image: url("../매과이어.jpg");
}
.container .heroes .hero:nth-child(7) .image {
  background-image: url("../바란.webp");
}
.container .heroes .hero:nth-child(8) .image {
  background-image: url("../쇼.jpg");
}
.container .heroes .hero:nth-child(9) .image {
  background-image: url("../말라시아.jpg");
}
.container .heroes .hero:nth-child(10) .image {
  background-image: url("../마이누.png");
}

.container .heroes .hero:nth-child(11) .image {
  background-image: url("../마운트.jpg");
}
.container .heroes .hero:nth-child(12) .image {
  background-image: url("../브루노.jpg");
}
.container .heroes .hero:nth-child(13) .image {
  background-image: url("../카세미루.jpg");
}
.container .heroes .hero:nth-child(14) .image {
  background-image: url("../아마드.jpg");
}
.container .heroes .hero:nth-child(15) .image {
  background-image: url("../맥토미니.jpg");
}
.container .heroes .hero:nth-child(16) .image {
  background-image: url("../안토니.jpg");
}
.container .heroes .hero:nth-child(17) .image {
  background-image: url("../래시포드.jpg");
}
.container .heroes .hero:nth-child(18) .image {
  background-image: url("../호일룬1.jpg");
}
.container .heroes .hero:nth-child(19) .image {
  background-image: url("../가르나초.jpg");
}
.container .heroes .hero:nth-child(20) .image {
  background-image: url("../마샬.jpg");
}

.container .heroes .hero:nth-child(21) .image {
  background-image: url("../쇼리티레.jpg");
}
.footer {
  color: #515255;
  border: 1px solid #c3c4c7;
  margin-top: 40px;
}
.footer {
  color: rgb(0, 0, 0);
}
.footer_container {
  max-width: 48rem;
  margin: auto;
}
.footer_menu {
  padding: 2rem 0;
}
.footer_apps {
  float: right;
}
.footer_appdown {
  font-size: 2rem;
  margin-top: 20px;
  line-height: 1.4;
}
.footer_appbtn {
  width: 18.8rem;
  justify-content: space-between;
}
.footer_appbtn button {
  width: 48%;
  height: 2.8rem;
  padding: 0;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.footer_nav ul:nth-child(3) {
  margin-right: 15%;
}
.footer_nav ul li {
  margin-bottom: 1rem;
}
.footer_info {
  padding: 1.5rem 0 6.3rem;
  line-height: 1.5;
  font-size: 0.82rem;
}
@media screen and (max-width: 768px) {
  .footer_apps {
    float: none;
    display: flex;
    margin-bottom: 1.25rem;
  }
  .footer_appbtn {
    display: none;
  }
}
