<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>List Page</h1>
    <hr />
    <table width="100%" border="1">
      <tr>
        <th>BOOKID</th>
        <th>Name</th>
        <th>Publisher Number</th>
        <th>Price</th>
      </tr>
      <% data.forEach(function(item, index) { %>
      <tr>
        <td><%= item.bookid %></td>
        <td><%= item.bookname %></td>
        <td><%= item.publisher %></td>
        <td><%= item.price %></td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
